* {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
  display: none;
  color: #3c44b1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  display: block;
  color: #3c44b1;
}

.side-menu {
  position: fixed;
  background: #fff;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  /* padding: 30px 20px; */
  padding-top: 20px;
  transition: width 0.2s linear;
}

.side-menu.inactive {
  width: 0px;
}

.side-menu .top-section {
  position: relative;
}

.side-menu .top-section .toggle-menu-btn {
  color: #3f51b5;
  font-size: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.side-menu.inactive .top-section .toggle-menu-btn {
  right: -50px;
  color: #3c44b1;
}

.side-menu .main-menu .menu-item {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-weight: 600;
  cursor: pointer;
}

.side-menu .main-menu .menu-item.active {
  background: #fff;
  border-radius: 5px;
  color: #3c44b1;
}

.side-menu .main-menu {
  margin: 5px 0;
  position: relative;
  max-height: 250px;

  overflow-x: hidden;
}
/* not required any more */
.side-menu.inactive .main-menu {
}

.side-menu .main-menu .menu-item span {
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.side-menu.inactive .main-menu .menu-item span {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu .main-menu .sub-menu {
  color: #333;
  margin-left: 20px;
  border-left: 1px solid #666;
  box-sizing: border-box;
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.side-menu .main-menu .sub-menu.active {
  max-height: 200px;
}

.side-menu .main-menu .sub-menu a {
  display: block;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
  padding: 5px;
}

.side-menu .main-menu .sub-menu a.active {
  /* change in background, not recorded in video */
  background: #3c44b1;
  display: block;

  border-radius: 5px;
  color: #fff;
}

.divider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: grey;
  margin-top: 46px;
}

.container {
  margin-left: 207px;
  transition: margin-left 0.2s ease-in;
  padding: 50px;
  box-sizing: border-box;
}

.container.inactive {
  margin-left: 80px;
}
